@import url('https://fonts.googleapis.com/css?family=Acme|Josefin+Sans');

@import url('https://fonts.googleapis.com/css?family=Acme|Alice|Josefin+Sans');

h1, h2, h3, h4 {
  font-family: 'Acme', sans-serif;
}

p {
  font-family: 'Alice', serif;
}

body {
  background-image: url("floral2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden; 
   background-color: #EA9EA44D;
}

.welcome {
	margin: 10px;
	padding: 10px;
}

.welcome img {
  width: 250px;
  border-radius: 50%;
  border: 5px solid gray;
}

h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px white;
  text-align: center;
}

.sociallinks {
	text-align: center; 
}

.sociallinks a {
	border-radius: 50%;
	width: 80px; 
	text-decoration: none; 
	border: 0;
}

.socaillinks:hover a {
	transform: scale(1.5);
}

.indent {
  margin-left: 50px;
}

.tele {
	text-align: center; 
}

.name {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.8em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

li {
    float: left;
    display: flex; 
    font-size: 1.2em;
   margin-top: 20px;
   font-weight: bold;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(189, 86, 100, 0.66);
    transition: background 0.5s;
}

/* Mobile: 320px = 20em */
@media screen and (min-width: 35em) { 
  
  .here {
  margin-left: 350px;
    margin-top: 150px;
}

  .welcome img {
  width: 20%;
  float: left;
  border-radius: 50%;
  border: 5px solid gray;
  margin: 20px;
  box-shadow: 3px 3px 2px 2px gray;
}
  .name h1 {
   text-shadow: 3px 2px white,
     4px 3px white;
}

.name {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 1.8em;
}
    .pinfo {
  margin-top: 160px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px; 
  padding: 10px;
  border-left: 4px solid gray;
}
  
.education, .experience, .skills {
  margin: 20px;
  padding: 10px;
  border-left: 4px solid gray;
}

.pinfo:hover, .education:hover, .experience:hover, .skills:hover {
  border-left: 5px dotted #C32933;
   background: rgba(255,255,255,0.75);
}
	
.tele:hover, .here:hover {
	   background: rgba(255,255,255,0.75);
	   border-radius: 25px;
	}

.about {
  text-align: center;
  margin-top: 100px;
}

}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {


}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 

}
